header{
    background-color: white;
    background-size: 10%;
    height: 100px;
}


.toboolist{
    display: inline-block;
    font-size: xxx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}


*{
    background-color:gray;
}

























/* .quadratobianco{
    background-color: white;
    width: 80%;
    height: 500px;
    border-radius: 10%;
    box-sizing: content-box;




}




.bottoneuno{
    background-color: rgb(57, 90, 236);
    width: 7%;
    height: 30px;
    text-align: center; 
    border-radius: 20%;
    color: white;
    display: inline-block;
    padding: 0%;
    border: 0%;
}

.bottonedue{
    display: inline-block;
    border-color: gray;
    border-style: solid;
    color: gray;
    border-radius: 20%;
    height: 30px;
    text-align: center;
    width: 100px;   
} */